.product {
  width: 100px;
  height: 100px;
  padding: 50px;
  margin: 50px;
  position: relative;
  border: 5px solid #000000;
}

.price {
  width: 30px;
  height: 30px;
  padding: 5px;
  right: -25px;
  top: -25px;
  border: 5px solid #FF0000;
  background: #FF0000;
  color: #FFFFFF;
  font-size: 25px;
  text-align: center;
  position: absolute;
  border-radius: 25px;
  transform: rotate(25deg);
}

.price::before {
  content: "$";
}
